
body{
    display: flex;
    background-color: darkslategrey;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw; 
}
.container{
    display:flex;
    flex-direction: row; 
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    border-width: 10px;
    max-height: 600px;
    max-width: 600px;
    min-height: 600px;
    min-width: 600px;
    
    justify-content: stretch;
}
.content{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: lightslategray;
}
.box{
    display:flex;
    flex-grow: 1;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.promptbttn{

background-color: lavender;
padding: 1em;
margin: 3em;
border-style: solid;
border-width: 5px;
border-color: black;
border-radius: 20px;
}