
body{
    display: flex;
    background-color: darkslategrey;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw; 
}
.container{
    display:flex;
    flex-direction: row;  
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    border-width: 10px;
    
}
.content{
    display:flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    min-width: 30px;
    background-color: lightslategray;
    margin: 0px;
    margin-bottom: -4px;
}
.box{
    display:flex;
    min-width: 15px;
    min-height: 30px;
    background-color: pink;
   
    margin: 0px;
    
}